Task -1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame([['A','avanthika','andaman','ant',np.nan],['B','babu','bangkok','bear',np.nan],['C','chintu','chandigarr','cat',np.nan],['D','devi','delhi','deer','desk'],['E','eshan','elluru','elephant','earphone'],['F','fathima','france','frog','fan'],['G','ganguli','guntur','goat','gun'],['H','harini','hyderabad','hen','hat'],['I','ishali','israil',np.nan,'inkpot'],['J','jayshankar','jaipur',np.nan,np.nan]])
df

   0           1           2         3         4
0  A   avanthika     andaman       ant       NaN
1  B        babu     bangkok      bear       NaN
2  C      chintu  chandigarr       cat       NaN
3  D        devi       delhi      deer      desk
4  E       eshan      elluru  elephant  earphone
5  F     fathima      france      frog       fan
6  G     ganguli      guntur      goat       gun
7  H      harini   hyderabad       hen       hat
8  I      ishali      israil       NaN    inkpot
9  J  jayshankar      jaipur       NaN       NaN

In [ ]:
df.columns=['letter','name','place','animal','thing']

In [ ]:
df

  letter        name       place    animal     thing
0      A   avanthika     andaman       ant       NaN
1      B        babu     bangkok      bear       NaN
2      C      chintu  chandigarr       cat       NaN
3      D        devi       delhi      deer      desk
4      E       eshan      elluru  elephant  earphone
5      F     fathima      france      frog       fan
6      G     ganguli      guntur      goat       gun
7      H      harini   hyderabad       hen       hat
8      I      ishali      israil       NaN    inkpot
9      J  jayshankar      jaipur       NaN       NaN

Task-2 ceck the info of 'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  10 non-null     object
 1   name    10 non-null     object
 2   place   10 non-null     object
 3   animal  8 non-null      object
 4   thing   6 non-null      object
dtypes: object(5)
memory usage: 528.0+ bytes

Task-3 check the descriptive statistics of 'df'

In [ ]:
df.describe()

       letter       name    place animal thing
count      10         10       10      8     6
unique     10         10       10      8     6
top         A  avanthika  andaman    ant  desk
freq        1          1        1      1     1

Task-4 Check the fourth index observation with"loc" slicing operator

In [ ]:
df.loc[2]

letter             C
name          chintu
place     chandigarr
animal           cat
thing            NaN
Name: 2, dtype: object

Task-5 check the null values of 'df'

In [ ]:
df.isnull().any()

letter    False
name      False
place     False
animal     True
thing      True
dtype: bool